* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.automata-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rule-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#rule-input {
  width: 180px;
  height: 40px;
}