* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Exo, sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.automata-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rule-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
}

#rule-input {
    width: 360px;
		background: #fff;
		color: #a3a3a3;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
		padding: 22px 18px;
}

.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
}

.btn.generate {
  position: absolute;
  top: 44px;
  right: 32px;
}

.btn.primary {
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 12px 36px;
}

.btn.primary:hover {
  background: darken(#7f8ff4, 4%);
}

.btn.primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.direction {
  margin-top: 18px;
}

.direction:last-child {
  margin-left: 18px;
}